/* .chart-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 100px;
    height: 700px; 
    width: 700px; 
    text-align: center;
}

.chart-container > * {
    display: inline-block;
    padding: 20px;
    padding-left: 40px;
} */
/* .chart-container {
    display: flex; 
    flex: 0 0 auto;
    height: 7000px;
    width: 1000px;
} */